@import '../../../themes/theme.scss';
.providers-section {
    margin-top: 60px;
    width: 100%;
    padding: 20px;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.9), rgba(20, 20, 20, 0.9));
    border-radius: 15px;
    box-shadow: 0px 8px 25px rgba(106, 93, 255, 0.3);

    .providers-title {
        font-family: $font-secundary;
        font-size: 23px;
        color: $white;
        border-bottom: 2.5px solid rgba(0, 216, 255,0.95);
        padding-bottom: 10px;
        margin-bottom: 25px;
        text-align: center; 
    }
    
    .provider-list {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .provider-category {
            h4 {
                font-family: $font-primary;
                font-size: 21px;
                color: rgba(255, 217, 0, 0.9);
                margin-bottom: 20px;
                text-align: center; 
            }

            .provider-logos {
                display: flex;
                flex-wrap: wrap;
                justify-content: center; 
                gap: 30px;

                .provider-link {
                    text-decoration: none;
                    transition: transform 0.2s ease;
                    &:hover {
                        transform: scale(1.15); 
                    }
                    .provider-logo {
                        width: 75px; 
                        height: 75px;
                        border-radius: 15px; 
                        object-fit: cover;
                        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.6); 
                        border: 2px solid rgba(255, 255, 255, 0.2); 
                        transition: all 0.3s ease; 
                        box-shadow: 0px 5px 20px rgba(0, 216, 255, 0.3); 

                        &:hover {
                            border-color: #00d8ff; 
                            box-shadow: 0px 10px 30px rgba(0, 216, 255, 0.7); 
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .providers-section {
        padding: 15px;
        margin-top: 30px;

        .providers-title {
            font-size: 19px;
        }

        .provider-list {
            gap: 18px;

            .provider-category {
                h4 {
                    font-size: 18px;
                }

                .provider-logos {
                    gap: 13px;

                    .provider-link {
                        .provider-logo {
                            width: 55px;
                            height: 55px;
                        }
                    }
                }
            }
        }
    }
}