<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">© 2025 Carlos BackDev - MovieSearch</p>
        <p class="footer-text">base de datos de tmdb</p>
        <div class="footer-socials">
            <a href="https://www.linkedin.com/in/tuusuario" target="_blank" class="social-link">
                <img src="assets/icons/linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/tuusuario" target="_blank" class="social-link">
                <img src="assets/icons/github.png" alt="GitHub">
            </a>
            <a href="https://twitter.com/tuusuario" target="_blank" class="social-link">
                <img src="assets/icons/gmail.webp" alt="Twitter">
            </a>
        </div>
    </div>
</footer>
