<div class="detail-container">
    <div class="detail-content">
    <app-detail-banner [config]="BannerConfig"> </app-detail-banner> 
    @if(config){
        <div class="detail-section">
            <div [style.background-image]="'url('+config.img+')'" class="image-section">
                <app-rate-chip [rate]="config.rate" [placeDecimals]="2" class="rate"></app-rate-chip>
                <button class="button" title="Añadir a lista" type="button"><i class="bi bi-plus-square-fill" (click)="onAddClick()"></i></button>
            </div>
            <div class="info-section">
                @if(config.subtitle){
                    <div class="title">{{config.subtitle}}</div>
                    <span> <div [style.background-image]="'url('+config.logo+')'" class="logo-productor" style="display: none;"></div></span>
                }
                <div class="container-overview">
                    <div class="description-title">{{config.titleDescription}}</div>
                    <div class="overview">
                        <p>{{config.description}}</p>
                    </div>
                </div>
                <div class="info-box">
                    @for (item of config.detailCards; track $index){
                        <div class="box">
                            <div class="box-title">{{item.title}}</div>
                            <div class="box-description">{{item.description}}</div>
                        </div>
                    }
                </div>
            </div>
    
        </div>
    }
    <div class="providers-section">
        @if(config?.watchProviders && (config.watchProviders.flatrate?.length > 0 || config.watchProviders.rent?.length > 0)) {
            <h3 class="providers-title">Disponible en:</h3>
            <div class="provider-list">
                @if(config.watchProviders.flatrate?.length > 0) {
                    <div class="provider-category">
                        <h4>Suscripción:</h4>
                        <div class="provider-logos">
                            @for (provider of config.watchProviders.flatrate; track $index){
                                <a class="provider-link" [href]="'https://www.' + provider.provider_name.split(' ')[0] +'.com'" target="_blank">
                                    <img class="provider-logo" [src]="'https://image.tmdb.org/t/p/w500/' + provider.logo_path" [alt]="provider.provider_name" />
                                </a>
                            }
                        </div>
                    </div>
                }
                @if(config.watchProviders.rent?.length > 0) {
                    <div class="provider-category">
                        <h4>Alquiler:</h4>
                        <div class="provider-logos">
                            @for (provider of config.watchProviders.rent; track $index){
                                <a class="provider-link" [href]="'https://www.' + provider.provider_name.split(' ')[0] +'.com'" target="_blank">
                                    <img class="provider-logo" [src]="'https://image.tmdb.org/t/p/w500/' + provider.logo_path" [alt]="provider.provider_name" />
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        } @else {
            <p class="no-providers-message">No hay proveedores disponibles para este contenido.</p>
        }
    </div>      
    </div>
</div>
