<div class="detail-container">
    <div class="detail-content">
    <app-detail-banner [config]="BannerConfig"> </app-detail-banner> 
    @if(config){
        <div class="detail-section">
            <div [style.background-image]="'url('+config.img+')'" class="image-section">
    
            </div>
            <div class="info-section">
                @if(config.subtitle){
                    <div class="title">{{config.subtitle}}</div>
                }

                <div class="overview">
                    {{config.description}}
                </div>
                <app-rate-chip [rate]="config.rate" [placeDecimals]="2"></app-rate-chip>
                <div class="info-box">
                    @for (item of config.detailCards; track $index){
                        <div class="box">
                            <div class="box-title">{{item.title}}</div>
                            <div class="box-descripcion">{{item.description}}</div>
                        </div>
                    }
                </div>
            </div>
    
        </div>
    }

        
    </div>
</div>
