@use '../../../themes/theme.scss' as theme ;

.movie-card-container{
    display: flex;
    flex-direction: column;
    padding: 8px;
    background: theme.$black-20;
    border: 2px solid black;
    border-radius: 15px;
    border-top: 2.5px solid rgb(0, 217, 255,0.5);
    cursor: pointer;
    &:hover{
        border-top: 2.5px solid rgb(0, 217, 255,1);
        background: rgba(theme.$neon-purple, 0.6);
        transition: background 0.4s ease;
    }
    .image-container{
        display: flex; 
        justify-content: space-between; 
        width: 100%; 
        height: 533px; 
        border-radius: 10px; 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        i{ 
            color: rgba(theme.$app-primary, 0.75); 
            font-size: 33px; 
            padding: 0px 7px;
        }& :hover{ 
            color: rgba(theme.$app-primary, 1); 
            font-size: 35px; 
        } 
    }
    .name{
        color: rgb(90, 172, 239);
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        overflow-wrap: anywhere;
        font-family: theme.$font-title;
        
    }
}
@media (max-width: 768px) {
    .movie-card-container{
        padding: 2px;
        margin-bottom: 20px;
        margin-left: 2px;
        margin-right: 2px;
        .image-container{
            width: 100%;
            height: 356px;
        }
        .name{
            color: theme.$white;
            font-size: 14px;
        }
    }
}
.button{
    all: unset;
    display: flex;
    width: auto;
    height:50px;

}