@import '../../../themes/theme.scss';

.nav-bar-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .nav-content{
        display: flex;
        justify-content: space-between;
        width: 85.5%;
        padding: 15px 0px;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: 0 11px 6px -7px #5d5fe5 ;
        .title{
            display: flex;
            flex-direction: row;
            margin: auto;
            margin-left: 15px;
            cursor: pointer;
            font-family: $font-head;
            .h2color1{
                color: $neon-purple;
            }
            .h2color2{
                color:$app-primary;
            }
            .h2{
                margin-bottom: 0px;
                font-weight: bold;
                line-height: 1;
            }
        }
    }
    .logo-section{
        width: 45px;
        height: 45px;
        background-image: url(../../../assets/images/letra-m.png);       
        background-size: cover;
        cursor: pointer;
    }
    ul{
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 0px;
        padding: 0px;
        align-items: center;
        
        li{
            display: flex;
            list-style: none;
            color: $app-secondary;
            font-size: 1.5rem;
            cursor: pointer;
            align-items: center;
            gap:6px;
            
            &:hover{
                color: $app-primary;
                transform: scale(1.05);
                transition: all 0.1s linear;  
                i{
                    color: $app-primary;
                    transform: scale(1.05);
                    transition: all 0.1s ease; 
                }
            }
            i{
            color: $app-secondary;
            font-size: 1.15rem;
            }
        }
        .active-item{
            color: $app-primary;
            i{
                color: $app-primary;
            }

        }

    }
}
@media (max-width: 1000px){
    .nav-bar-container{
        .nav-content{
            padding: 13px;
            .title{
                span{
                    font-size: 24px;
                }
               
            }
        }
    
        .logo-section{
            width: 35px;
            height: 35px;
        }
        ul{
            gap: 20px;        
            li{
                font-size: 19px;                
                i{
                color: $app-secondary;
                font-size: 0.8rem;
                }
            }    
        }
    }

}
@media (max-width: 768px){
    .nav-bar-container{
        .nav-content{
            width: 100%;
            padding: 13px;
            .title{
                display: none;
            }
        }
    
        .logo-section{
            width: 30px;
            height: 30px;
        }
        ul{
            gap: 20px;        
            li{
                font-size: 17px;                
                i{
                color: $app-secondary;
                font-size: 0.8rem;
                }
            }    
        }
    }

}
