
<nav class="nav-bar-container">
    <div class="nav-content">
        <div (click)="homePage()" class="logo-section">
        </div>
        <div (click)="homePage()" class="title"><h2 class="h2"><span class="h2color1">Movie</span><span class="h2color2">Search</span></h2></div>
            @if (navItems && navItems.length >0) {
                <ul>
                    @for (nav of navItems; track $index) {
                        <li [ngClass]="{'active-item': nav.active}" (click)="selectedItem(nav)">
                            <i class="{{nav.icon}}"></i>
                            {{nav.name}}
                        </li>        
                    }

                </ul>
                
            }
            <div class="container-submenu">
                <div *ngIf="isAuthenticated() && showProfileMenu" class="profile-menu">
                    <button (click)="logout()">Cerrar sesión</button>
                    <button (click)="deleteAccount()">Eliminar cuenta</button>
                </div> 
            </div>
    </div>
    
</nav>
<app-auth-modal
    [showModal]="showLoginModal"
    (closeModal)="showLoginModal = false">
</app-auth-modal>
