.movies-cards-section {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:auto;
    width: 90%;
    margin: auto;
    .movies-cards-container{
        width: 100%;
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    .movies-cards-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .movies-cards-container{
            width: calc(100%);
            margin-top: 0px;
        }
    }
}