<div class="home-container">
    <div class="home-content">
        <div class="search-section">
            <div class="imagen-container">
                    <div class="carousel-item" *ngFor="let image of carouselImages">
                      <img  @img [src]="image" alt="" />
                    </div>           
                </div>       
            <app-input class="input" (searchEvent)="onSearchInput($event)"
            (searchSubmit)="searchProcesator($event)"
            [chat]="chat">                
            </app-input>
          </div>
          <div class="chat-dialog" *ngIf="chatLines.length > 0">
            <div class="chat-line">
              {{ chatLines.join('') }}
            </div>
          </div>
        <div class="segmented-control-section">
            <div class="title-container">
                <p class="title">
                    {{title}} <span class="results">{{length}} Resultados</span>
                </p>
            </div>
            <div class="spinner-container" *ngIf="isLoading">
                <div class="spinner"></div>
              </div>              
            <app-segmented-control [config]="segments"></app-segmented-control>
        </div>
        <div class="movies-cards-section">
            @for (item of movieCards;track $index){
                <div class="movies-cards-container"><app-movie-card [config]="item"></app-movie-card></div>
            }
        </div>
        <app-auth-modal
            [showModal]="showLoginModal"
            (closeModal)="showLoginModal = false">
        </app-auth-modal>
        <app-add-list
            [showModal]="showListModal"
            [movieId]="selectedMovieAndTvId"
            (showModalChange)="showListModal = $event">
        </app-add-list>
    </div>
</div>
