@use '../../../themes/theme.scss' as theme;

.home-container{
    .home-content{
        width: 85%;
        margin: auto;
        .search-section{
            position: relative;
            height: 450px;
            margin-top: 40px;
            overflow: hidden;
            background-color: theme.$fondo-carousel;
            border-radius: 7px;
            box-shadow: 3px 3px 12px 3px rgba(106, 93, 255, 0.30);
            .input{
                position: relative;
                top: 58%;
                display: flex;
                justify-content:center
            }
            .imagen-container {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0.70;
                display: flex;
                overflow: hidden;
                .carousel-item {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  opacity: 1;
                  transition: transform 1s cubic-bezier(0.89, -0.01, 0.55, 0.95);
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
              }
              
              .carousel-item.active {
                display: block;
                transform: translateX(0); 
              }
              
              .carousel-item.previous {
                display: block;
                transform: translateX(-100%); 
              }
              
              .carousel-item.next {
                display: block;
                transform: translateX(100%);
              }     
        }
        .title-container{
            text-align: center;            
            .title{
                font-size: 50px;
                color: theme.$white;
                font-weight: bold;
                margin-bottom: 0px;
                margin-top: 5px;
                margin-left: 3px;
                border-bottom: 3px solid rgb(0, 216, 255,0.8);
                .results{
                    font-size: 20px;
                    color: theme.$white;
                    font-weight: lighter;
                }
            }
        }
        .movies-cards-section {
            display: grid;
            margin: auto;
            margin-top: 25px;
            column-gap: 10px;
            row-gap: 22px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows:auto;
            
        }
    } 
}
.chat-dialog {
    position: absolute;
    top: 60px; /* Ajusta la posición dependiendo de tu diseño */
    left: 10%;
    right: 10%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
  }
  
  .chat-line {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    word-wrap: break-word;
  }
  
  
  .input-container {
    position: relative;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: #222;
    margin-top: 6px;
    border: 1.5px solid #ccc;
    width: 97%;
  }
  
@media (max-width: 768px) {
.home-container{
    .home-content{
            width: 98%;
            .search-section{
                margin-top: 12px;
            }
            .title-container{          
                .title{
                    font-size: 25px;
                    color: theme.$white;
                    margin-bottom: 0px;
                    margin-top: 20px;
                    margin-left: 0px;
                    border-bottom: none;
                    .results{
                        font-size: 11px;
                    }
                }
            }
            .movies-cards-section {
                margin-top: 10px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                column-gap: 3px;
                row-gap: 8px;
            }
        }
    }
}
.segmented-control-section{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
@media (max-width: 768px) {
    .segmented-control-section{
        display: block;
        margin-top: 5px;
    }
    
}
