@import '../../../themes/theme.scss';

.rate-chip-container{
    display: flex;
    column-gap: 5px;
    background: $black-20;
    padding: 5px 7px;
    border-radius: 8px;
    width: fit-content;
    background-color: $black-20;
    border: 1px solid black;
    i{
        color: $app-primary;
        font-size: 14.75px;
    }
    span{
        font-size: 16px;
        font-weight: bold;
        color: $app-primary;
    }

}